<!--------------- image-gallery--------------->
<div class="d-flex container shadow bg-info">
	<div class="row mt-5 text-center justify-content-center align-items-center">
		<h5 class="checenter p-1 bg-dark text-light rounded border p-2">IMAGE GALLERY</h5>
	</div>
	<p>Ver Imagenes</p>
<!-- 	<ul>
		<li *ngFor="let item of data; let i = index;">
			{{ item }}
			<button (click)="updateData(i, newData)">Editar</button>
			<button (click)="deleteData(i)">Eliminar</button>
		</li>
	</ul>

	<form (submit)="addData(newItem)">
		<input type="text" [(ngModel)]="newItem">
		<button type="submit">Agregar</button>
	</form> -->
	<mat-card>
		<input type="file" (change)="onFileSelected($event)" accept="image/*">
		<button mat-raised-button (click)="uploadImage()">Upload</button>
	</mat-card>
	<!-- List of uploads images -->
	<mat-card *ngFor="let image of images" class="image-card">
		<img [src]="image.url" alt="Upload Image">
		<mat-card-actions>
			<button mat-button (click)="deleteImage(image.id)">Delete</button>
		</mat-card-actions>
	</mat-card>
</div>