<!-- <div class="wrapper"> -->
<div class="d-flex container-fluid shadow justify-content-center align-content-center">
	<div class="d-flex flex-direction-row">
		<img src="https://drive.google.com/uc?export=download&id=1Od_UBwprzgV6uezmay1pgQImtC146_BD" alt="Login" width="150px" height="150px">
		<h1>Login</h1>
		<form>
			<div class="mb-3">
				<input type="email" class="form-control" placeholder="name@example.com">
				<label>Email</label>
			</div>
			<div class="mb-3">
				<input type="password" class="form-control" placeholder="Password">
				<label>Password</label>
			</div>
			<div class="d-grid gap-2">
				<button class="btn btn-primary btn-lg" type="button">Ingresar</button>
			</div>
			<p>No tienes cuenta</p>
			<p>recuperar password</p>
			<!-- <p class="mt-3">No tienes cuenta? <a routerLink="/registrar-usuario">Registrar</a></p> -->
			<!-- <a class="mt-3" routerLink="/recuperar-password">Recuperar contraseña</a> -->
		</form>
	</div>
</div>