<div class="box1">
    <h4>Nombres: {{myPersona[0].nombres}}</h4>
    <h4 style="color:red;">Apellido: {{myPersona[0].apellido}}</h4>
    <h4 style="color:red;">Fenaci: {{myPersona[0].fecha_nacimiento}}</h4>
    <h4 style="color:red;">ocupacion {{myPersona[0].ocupacion}}</h4>
    <h4>MyPortfolio, {{ myPortfolio[0]}},{{myPortfolio[1]}}</h4>
    <img class="card-img-top" src={{myAboutMe[0].bannerImage}} alt="Card image cap">
    <div>
        <div>
            <div>
                <img src={{myAboutMe[0].profilePicture2}} alt="Profile picture...">
                <img src={{myAboutMe[0].institutionImage}} alt="">
            </div>
        </div>
    </div>

    <div>
        <div class="font1">
            <p>{{myAboutMe[0].institution}}</p>
            <h2>{{myAboutMe[0].ubication}}</h2>
            <div>
                <img src={{myAboutMe[0].bannerImage}} alt="">
            <div>
                <img src={{myAboutMe[0].institutionImage}} alt="">
            </div>
        </div>
    </div>
</div>